@import 'tailwindcss';

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: transparent;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #e1e1e1;
    background-color: #121212;
  }
  a:hover {
    color: #535bf2;
  }
  button {
    background-color: transparent;
  }
}
