@import 'tailwindcss';

/* light mode */
.any-light {
  --tw-text-opacity: 1;
  color: #213547;
  background-color: #ffffff;
}

.any-light a:hover {
  color: #747bff;
}

.any-light button {
  background-color: transparent;
}

/* dark mode */
.any-dark {
  --tw-text-opacity: 1;
  color: #e1e1e1;
  background-color: #121212;
}

.any-dark a:hover {
  color: #535bf2;
}

.any-dark button {
  background-color: transparent;
}

/* optional: 讓 body 背景跟 html 一致 */
body {
  margin: 0;
  padding: 0;
  background-color: var(--mui-palette-background-default);
  color: var(--mui-palette-text-primary);
}
